<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Nelibur" version="3.1.6" targetFramework="net45" />
  <package id="Nelibur.Sword" version="3.1.6" targetFramework="net45" />
  <package id="NUnit" version="2.6.0.12054" targetFramework="net45" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net45" />
  <package id="SpecFlow.NUnit" version="1.1.1" targetFramework="net45" />
  <package id="SpecRun.NUnit" version="1.2.0" targetFramework="net45" />
</packages>