@using System
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">@Html.ActionLink("Database Tools", "Index", "Database", null, new { @class = "btn btn-primary" })</div>
    <div class="col-md-12">@Html.ActionLink("Manage Categories", "Index", "Category", null, new { @class = "btn btn-primary" })</div>
</div>