@using System
<div class="well" data-bind="with: ProductsPageViewModel">
    <nav data-bind="with: Paginator">
        <ul class="pagination" data-bind="foreach: Pages">
            <li><button class="btn-sm" data-bind="click: $parent.select, css: $data.selected ? 'btn-danger' : 'btn-default'"><span data-bind="text: $data.page"></span> </button></li>
        </ul>
    </nav>
    <div class="block-grid-md-5 block-grid-sm-2" data-bind="foreach: Products">
        <div class="block-grid-item">
            <div class="well"><span data-bind="text: Name"></span></div>
        </div>
    </div>
</div>