<main>
    <h1>Angular App</h1>
    <div>
        <app-button-group>
            <app-button class="app-button" [caption]="'Very long button\n going on and on and on and on and on'"
                        [hint]="'Bar'"></app-button>
            <app-button class="app-button" [caption]="'Button Title'" [hint]="'Please'"></app-button>
            <app-button class="app-button" [caption]="'Foo'" [hint]="'Bar'"></app-button>
        </app-button-group>
        <app-button class="app-button" [caption]="'Orphan'" [hint]="'Сирота'"></app-button>
        <key-value-form [json]="settings"></key-value-form>
        <app-button class="app-button" [caption]="'Refresh'" [clicked]="checkSettings"></app-button>
        <ul infiniteScroll
            [scrollPercent]="90"
            [immediateCallback]="false"
            [scrollCallback]="scrollCallback">
            <li *ngFor="let item of items">{{item | fancyPipe | fancyPipe}}</li>
        </ul>
    </div>
</main>