#main {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid red;
    display: flex;
    flex-flow: column;
    overflow: hidden;    
}
.pane {
    display: flex;
    flex: none;
    border: 1px solid green;
}
.main-content {
    display: flex;
    flex: 1;
    flex-flow: column;
    border: 1px solid blue;
    min-height: 0;
}
.dashboard {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid red;    
    flex: 1;          
}

.dash-item {
    border: 1px solid blue;
    margin: 10px;
    min-width: 50px;
    min-height: 50px;      
    display: flex;    
    flex-flow: column;
    background-color: azure;
    padding: 10px;    
}

.box {    
    overflow: auto; 
    border: 1px solid black;
    flex:1;
    background-color: beige;
}

.simple-form {
    display: flex;
    flex-flow: column;
    margin: 0;
    min-height: 0px;  
    flex: 1 0 auto;
}

.form-field {
    display: flex;
    flex-flow: row wrap;
    flex:0 1 auto;
    margin: 5px;
    min-width: 0;
    margin-top: auto;    
}
