@using System
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-2">
        @Html.Partial("_CategoryList")
        @Html.Partial("_Cart")
    </div>
    <div class="col-md-10">
        @Html.Partial("_ProductList")
    </div>
</div>

@Html.Partial("_ShipModal")