
@{
    ViewBag.Title = "Index";
}
<div>
    Events per second:<strong ng-bind="eventsPerSecond"></strong>
    <canvas id="main_canvas" width="800" height="600" style="border:1px solid #ccc"></canvas>
    <pre>
    <code ng-bind="lastEvent"></code>
</pre>
</div>

