@button-color: #d30c58;

button {
  min-width: 100px;
  min-height: 32px;
  word-wrap: break-word;
  border: none;
  outline: none;
  padding: 1px 6px;
  line-height: 20px;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  color: #fff;
  background-color: #d30c58;

  &:hover {
    background-color: lighten(#d30c58, 10%);
  }

  &:focus {
    border: solid 1px #fff;
  }

  &:active {
    background-color: darken(#d30c58, 10%);
  }
}

:host {
  display: flex;
  flex: 1 1 auto;
  margin: 0;
}

:host-context(.button-group) {
  margin: 5px 5px;
  button {
    flex: 1 1 auto;
  }
}